<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <h1>Abuela Sorda</h1>
    <p>Di algo abuela:</p>
    <form action="/" method="post">

        <input name="frase" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">

      <input type="submit" name="button">Dilo!</input>
    </form>
  </body>
</html>
